.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
  font-size: 14px;
 font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
}

.circular-gallery:active {
  cursor: grabbing;
}
